<div class="alert alert-info" role="alert">
    <h2>Arabalar</h2> 
</div>
<div *ngIf="dataLoaded==false"  class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>    
            <th>Marka</th>        
            <th>Renk</th>   
            <th>Günlük Fiyat</th>      
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.carDailyPrice}}</td>
    </tr>
 </table>